<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{_layout/layout}">

<head></head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-primary btn-link">
            <i class="bi bi-chevron-double-left"></i>
          </button>
          <span>2026年6月</span>
          <button type="button" class="btn btn-primary btn-link">
            <i class="bi bi-chevron-double-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>