<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{_layout/layout}">

<head></head>

<body>
  <div layout:fragment="content">
    <div class="container" th:with="view=${monthlyAttendanceView}">
      <!-- 月を表示 -->
      <div class="row">
        <div class="col text-center">
          <a class="link-primary text-decoration-none fs-4"
            th:href="@{|/attendance/attendance-report?${view.getRequestParamPrevMonth()}|}"><i
              class="bi bi-chevron-double-left"></i></a>
          <span class="fs-4" th:text="${view.formatedYearMonth()}"></span>
          <a class="link-primary text-decoration-none fs-4"
            th:href="@{|/attendance/attendance-report?${view.getRequestParamNextMonth()}|}"><i
              class="bi bi-chevron-double-right"></i></a>
        </div>
      </div>
      <div class="row mt-1 mb-2">
        <table class="table-sm table-hover attendance-monthly-table">
          <thead class="bg-secondary table-dark text-center">
            <tr>
              <th th:text="#{attendance.label.day}"></th>
              <th th:text="#{common.clockIn}"></th>
              <th th:text="#{common.clockOut}"></th>
              <th class="d-none d-lg-table-cell" th:text="#{common.label.work}"></th>
              <th th:text="#{attendance.label.overtime}"></th>
              <th th:text="#{attendance.label.deductedTime}"></th>
              <th class="d-none d-lg-table-cell" th:text="#{attendance.label.lateNightTime}"></th>
              <th class="d-none d-lg-table-cell" th:text="#{attendance.label.holidayTime}"></th>
              <th class="d-none d-lg-table-cell" th:text="#{attendance.label.note}"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:classappend="${daily.GetLayoutClass()}" th:each="daily : ${view.dailyAttendanceViews}">
              <td class="text-center" th:text="${daily.formatedTargetDay()}"></td>
              <td class="text-center" th:text="${daily.formatedClockInTime()}"></td>
              <td class="text-center" th:text="${daily.formatedClockOutTime()}"></td>
              <td class="d-none d-lg-table-cell text-center" th:text="${daily.formatedWorktime()}"></td>
              <td class="text-center" th:text="${daily.formatedOvertime()}"></td>
              <td class="text-center" th:text="${daily.formatedDeductedTime()}"></td>
              <td class="d-none d-lg-table-cell text-center" th:text="${daily.formatedLateNightTime()}"></td>
              <td class="d-none d-lg-table-cell text-center" th:text="${daily.formatedHolidayTime()}"></td>
              <td class="d-none d-lg-table-cell" th:text="${daily.note}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container">
      <table class="table">
        <tr>
          <th>月間勤務時間</th><td>189:00</td>
        </tr>
        <tr>
          <th>時間外労働時間</th><td>45:00</td>
        </tr>
        <tr>
          <th>控除時間</th><td>45:00</td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>