/* :root {
    --bs-light: #dcdcdf;
    --bs-light-rgb: 220, 220, 223;
    --bs-dark: #02090c;
    --bs-dark-rgb: 2, 9, 12;
    --bs-primary: #088153;
    --bs-primary-rgb: 8, 129, 83;
    --bs-secondary: #809687;
    --bs-secondary-rgb: 128, 150, 135;
    --bs-info: #44B7C9;
    --bs-info-rgb: 68, 183, 201;
    --bs-success: #5FC879;
    --bs-success-rgb: 95, 200, 121;
    --bs-warning: #dfdb17;
    --bs-warning-rgb: 223, 219, 23;
    --bs-danger: #FF5449;
    --bs-danger-rgb: 255, 84, 73;
} */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.attendance-area .current-date {
    font-size: 20px;
    color: var(--bs-secondary);
    text-align: center;
}
.attendance-btn-wapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}